<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
    <br>
        {% if user.is_authenticated %}
        <div class='col-md-6 offset-md-3'>
        {%if messages %}
                {% for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        <table class="table  table-bordered table-hover table-striped ">
            <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">phone</th>
                <th scope="col">address</th>
                <th scope="col">city</th>
                <th scope="col">Created_at</th>
                <th scope="col">ID</th>
            </tr>
        </thead>
            <tbody>
                {% if record %}
                    {% for records in record %}
                    <tr>
                            <td><a href="{% url 'record' records.id %}" >{{records.first_name}} {{records.last_name}}</a></td>
                            <td>{{records.email}}</td>
                            <td>{{records.phone}}</td>
                            <td>{{records.address}}</td>
                            <td>{{records.city}}</td>
                            <td>{{records.created_at}}</td>
                            <td>{{records.id}}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
        {% else %}
        <div class='col-md-6 offset-md-3'>
            {%if messages %}
                {% for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            <h1>Login</h1><br>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">
                <input type="text" class="form-control"  aria-describedby="emailHelp" name="username" placeholder="user_name" required>
                </div>
                <div class="mb-3"><br>
                <input type="password" class="form-control" name="password" placeholder="password" required>
                </div><br>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>